@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Add a Quote";

    // Required fields validation
    Validation.RequireField("name", "You must enter a customer name");
    Validation.RequireField("depth", "Depth is required");
    Validation.RequireField("width", "Width is required");
    Validation.RequireField("drawerCount", "Drawer Count is required");

    //Data type validation
    Validation.Add("depth", Validator.Integer("Depth must be an integer"));
    Validation.Add("width", Validator.Integer("Width must be an integer"));
    Validation.Add("drawerCount", Validator.Integer("Drawer Count must be an integer"));

    var name = "";
    var depth = "";
    var width = "";
    var drawerCount = "";

    //Get current date and convert to sql server format and as and string
    DateTime myDateTime = DateTime.Now;
    string sqlFormattedDate = myDateTime.ToString("yyyy-MM-dd HH:mm:ss.fff");

    if (IsPost && Validation.IsValid())
    {
        name = Request.Form["Name"];
        depth = Request.Form["Depth"];
        width = Request.Form["Width"];
        drawerCount = Request.Form["DrawerCount"];


        var db = Database.Open("QuoteDatabase");
        var insertCommand = "INSERT INTO QuoteTable (Date, CustomerName, Depth, Width, DrawerCount, Material, RushDays, Total) VALUES(@0, @1, @2, @3, @4, @5, @6, @7)";
        db.Execute(insertCommand, sqlFormattedDate, name, depth, width, drawerCount, material, rushDays, total);

        Response.Redirect("~/Home");
    }
}


<h2>Add a Quote</h2>
@Html.ValidationSummary()
<form method="post">
    <!--
    Date.....................DateTime.Now (calculate externally)
    Customer Name............Input type text
    Depth....................Input type number (min - , max - )
    Width....................Input type number (min - , max - )
    Drawer...................Input type number (min - , max - )
    Material.................Dropdown
    RushDays.................Dropdown
    Total....................Use our classes (calculate externally)
    -->
    <fieldset>
        <legend>Mega Desk Information</legend>



        <!-- Customer Name............Input type text -->
        <p>
            <label for="name">Customer Name:</label>
            <input type="text" name="name" value="@Request.Form["Name"]" />
            @Html.ValidationMessage("name")
        </p>



        <!-- Depth....................Input type number (min - , max - ) -->
        <p>
            <label for="depth">Depth:</label>
            <input type="number" name="depth" min="100" max="200" value="@Request.Form["Depth"]" />
            @Html.ValidationMessage("depth")
        </p>


        @*TODO: update min and max...*@
        <!-- Width....................Input type number (min - , max - ) -->
        <p>
            <label for="width">Width:</label>
            <input type="number" name="width" min="100" max="200" value="@Request.Form["Width"]" />
            @Html.ValidationMessage("width")
        </p>



        @*TODO: update min and max...*@
        <!-- Drawer....................Input type number (min - , max - ) -->
        <p>
            <label for="drawerCount">Drawer Count:</label>
            <input type="number" name="drawerCount" min="100" max="200" value="@Request.Form["DrawerCount"]" />
            @Html.ValidationMessage("drawerCount")
        </p>




        @*TODO: figure this out...*@
        <!-- Material.................Dropdown -->


        @*TODO: figure this out...*@
        <!-- RushDays.................Dropdown -->

        <p><input type="submit" name="buttonSubmit" value="Add Quote" /></p>
    </fieldset>
</form>
